* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html{
    height: 100%;
    max-height: 100vh;
}
body {
  background: #f0f0f0;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}
.app {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.header{
  height: 110px;
  border: 1px solid #000;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header_main {
  width: 100%;
  max-width: 1500px;
}
.header_nav {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
.header_logo {
  padding: 10px 20px;
  font-size: 40px;
}
.header_logo h1 {
  font-family: "Bree Serif", serif;
  color: rgb(231, 235, 241);
}
.header_ul {
  display: flex;

  list-style: none;
  margin: 40px auto;
  justify-content: space-around;
}
.header_li {
  padding: 5px 20px;
  font-size: 25px;
  color: rgb(231, 235, 241);
}
.header_li a {
  text-decoration: none;
  color: rgb(231, 235, 241);
}
.header_li a:hover {
  color: red;
}
.social {
  display: flex;
  padding-top: 40px;
  flex-flow: wrap row;
  padding-right: 15px;
}
.social_a {
  padding-left: 20px;
  font-size: 30px;
  color: rgb(231, 235, 241);
}
.social_a:hover {
  color: red;
}
.app__main{
    width: 100%;
    background: rgb(190, 186, 186);
    height: 100%;
    max-height: 3000px;
}
.app__main_center{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-height: 641px;
  max-width: 1400px;
  max-height: 3000px;
  background: #d12121;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.portada_main{
   margin: auto;
   max-width: 1200px;
   display: flex;
   flex-flow: wrap row;
   height: 100%;
   
}
.portada_text{
    color: #fff; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}
.portada_title h1{
   font-size: 50px;
}
.portada_descripcion{
    font-size: 18px;
    margin: auto;
       
}  

.portada_img{
    display: flex;
    height: 100%;
    justify-content: end;
    
}
.portada_img img{
    margin: auto;
    height: 500px;
    width: 500px;
}
.btn-contact{
    padding: 12px;
    margin: 30px auto;
    width: 150px;
    border-radius: 9px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background:  #2c2c2c;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.btn-contact:hover{
    cursor: pointer;
    color: red;
}
.proyectos_main{
  margin: auto;
  max-width: 1300px;
  height: 100%;
  max-height: 100%;
 
}
.proyectos__main_header{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color: #fff;
}
.header_title{
  font-size: 24px;
  margin-top: 40px;
  padding-bottom: 24px;
}
.header_subtitle{
  font-size: 18px;
}
.proyectos__buscador{
  margin: 30px auto;
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
  padding: 0;
  border-radius: 10px;
  border: none;
  
}
.proyectos__buscador input{
  width: 92%;
  height: 45px;
  padding: 5px;
  border-radius: 10px 0px 0px 10px;
  font-size: 21px;
  
}

.proyectos__buscador button{
  width: 8%;
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  background: #000;
  border-color: rgb(184, 184, 184) ;
}
.proyectos__buscador button i{
  font-size: 17px;
  color: #fff;
}
.list-proyectos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-flow: nowrap column;
  max-width: 1400px;
  height: 100%;
  max-height: 1700px;
  min-height: 100%;
}
.container-proyectos{
   width: 100%;
   display: flex;
   flex-flow: wrap row;
   max-width: 100%;
  
}

.card{
  width: 400px;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover{
  box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
  transform: translateY(-3%);
}
.card figure{
  height: 290px;
}
.card figure img{
  height: 100%;
  width: 100%;
  
}
.card .contenido{
  padding: 15px;
  text-align: center;
}
.card .contenido p{
  line-height: 1.5;
  color: #6a6a6a;
}
.card .contenido h3{
  font-weight: 400;
  margin-bottom: 15px;
}
.card .contenido a{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}
.card .contenido a:hover{
  background:  #2fb4cc;
  color: #fff;
}
.about{
  margin: auto;
  padding: 40px;
  height: 100%;
  width: 100%;
  max-height: 100%;
}
.about_main{
  border: 3px solid rgb(236, 18, 54);
  background: #222222;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.about_title{
  text-align: center;
  font-size: 30px;
  margin: auto;
  border-bottom: 4px solid rgb(236, 18, 54);;
}
.about_content{
  display: flex;
  padding: 10px;

}
.about__info{
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about__info h2{
  text-align: center;
  font-size: 25px;
  padding: 3px;
}
.carrera{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 7px;
  width: 70%;
  text-align: center;
}
.carrera_title{

}
.carrera_link{
  width: 100%;
  border: 3px solid #b92929;
  padding: 7px;
  border-radius: 10px;
}
.carrera_link a{
   text-decoration: none;
   font-size: 20px;
   color: #0341bf;
}
.lenguajes{
  margin: auto;
  display: flex;
  flex-direction: column;
  
}
.lenguajes-title{
  font-size: 25px;
  text-align: center;
}
.lenguajes-list{
  margin: auto;
}

.lenguajes-list ul{
  display: flex;
  width: 100%;
  list-style: none;
  padding: 10px;
  flex-flow: row wrap;
}
.lenguajes-list ul li{
  margin: 10px;
  font-size: 35px;
}
.fa-html5{
  color: #bf031c;
}
.fa-css3-alt{
  color: #0341bf;
}
.fa-js{
  color: #b4c70a;
}
.fa-react{
  color: #0341bf;
}
.fa-bootstrap{
  color: #5708a1;
}
.fa-php{
  color: #0341bf;
}
.fa-laravel{
  color: #d6001d;
}
.fa-node-js{
  color: #0ea109;
}
.fa-angular{
  color: #d6001d;
}
.about__foto{
  border: 3px solid#d6001d;
  height: 450px;
  width: 800px;
 
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
}
.about__foto img{
  width: 100%;
  height: 100%;
}
/* FORMULARIO CONTACTO */

.contacto{
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding: 1.5em;
   color: #fff;
}
.logo{
  text-align: center;
  font-size: 3em;
}
.contact-wrapper{
  box-shadow: 0 0 20px 0 rgba(255,255,255, .3);
}
.contact-wrapper> * {
  padding: 1em;
  
}
.contact-form{
  background: #222222;
}

.contact-form form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
  grid-column: 1 / 3;
}

.contact-form form p{
  margin: 0;
  padding: 1em;
}



.contact-form form button,
.contact-form form input,
.contact-form form textarea{
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  border-bottom: 1px solid #d63031;
  outline: none;
  color: #fff;
}
.contact-form form textarea{
  max-height: 100px;
  min-height: 60px;
  max-width: 300px;
  min-width: 100%;
}
.contact-form form button{
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus{
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
  cursor: pointer;
}


.contact-info{
 background: #000;
}
.contact-info h4,
.contact-info ul,
.contact-info p{
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact-info ul{
  list-style: none;
  padding: 0;
}
.contact-info ul li{
  padding: .3em;
}
.contact-info ul li i{
  margin-right: 5px;
}

.checkbtn{
  font-size: 40px;
  color: #fff;
  float: right;
  line-height: 120px;
  cursor: pointer;
  margin-right: 5px;
  display: none;
  padding-right: 15px;
  
}
#check{
  display: none;
}
@media(max-width: 716px){
  .checkbtn{
    display: block;
  }
  .header_ul{
    position: absolute;
    
    width: 100%;
    height: 500px;
    background: #2c3e50;
    top: 70px;
    left: -100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all .5s;
  }
  .header_li{
   display: block;
  }
  
  .header_li a:hover{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .active{
    left: 0;
  }
}


@media(min-width: 700px){
  .contacto{
    padding: 0 4rem;
  }
  .contact-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper>*{
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p{
    padding: 1em;
    text-align: left;
  }
}

@media(max-width: 900px){
  .social{
    display: none;
  }
  .about_content{
    display: flex;
    flex-flow: column-reverse;
    flex-wrap: wrap;
  }
  .about__foto{
    width: 100%;
  }
  
}
@media(max-width: 715px){
  
}
@media(max-width: 1160px){
  .portada_main{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media(max-width: 664px){
  .portada_title{
    text-align: center;
  }
}
@media(max-width: 500px){
  .portada_title h1{
    font-size: 30px;
    width: 100%;
  }
  .portada_descripcion{
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
}
@media(max-width: 1200px){
  .list-proyectos{
    margin-top: 300px;
    padding-bottom: 250px;
  }
  .app__main_center{
   height: 100%;
   max-height: 100%;
  }
  
}
@media(max-width: 800px){
  .app__main_center{
    height: 100%;
    max-height: 100%;
   }
   .list-proyectos{
   
    padding-top:1200px ;
    
  }
  .container-proyectos{
    background: linear-gradient(to right, #2c3e50, #2980b9)
  }
 
}





